
body{    
    background-image :url(../images/bg4.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-color: #BBB;
    padding-top:50px;
    color: #222;
}

.jumbotron{
    background-color: transparent;
}

.abcRioButtonContents{
    color: #111;
}

::selection {
    color: #bbb; 
    background: #555;
}


.btn {
    font-family:"Roboto",arial,sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #444;
    letter-spacing: .21px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: top;
    border-radius: 1px;
    background: #FFFFFF;
    transition: background-color .218s,border-color .218s,box-shadow .218s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
}
.btn:focus, .btn:active:focus{
    outline: 0 none;
}
.btn:active, .btn.active {
    background: #ababab;
}

.container{
    background-color: transparent; 
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}