/*body {
    padding-top:70px;
    padding-right:10px;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    font-family: "Source Sans Pro","Helvetica Neue","Helvetica","Arial","sans-serif";
}*/

/*.nav-format{
    background-color: #d14338;
    color:white;
    height:10%
}*/

/*.sidebox-format{
    padding:10px;
    border-style:groove;
    border-radius:25px;
}*/

/*.button-format-current {
    background-color: #d14338;
    width: 100%;
    border-color: white;
    color: white;
}

.button-format-previous {
    background-color: #FF8C00;
    width: 100%;
    border-color: white;
    color: white;
}*/
/*
button.btn:hover{
    background-color:darksalmon;
    color:black;
    border-color: white;
}

.text{
    padding: 2px;
    text-align: left;
    font-size:18px;
    vertical-align: middle;
}*/