

<div id="MainWrap" class="container" ng-controller="sendmailController">

    <div class="jumbotron">

        <h2>{{$root.currentProject.account}} - {{$root.currentProject.team}}</h2>

        <h4>Select a Week</h4>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" ng-model='entryWeek'/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        
        <BUTTON class='btn btn-primary gradient btn-sm' id='getEntries' ng-click="getEntries()">Get Entries</BUTTON>

        <script type="text/javascript">
            $("#preview").hide();
            $('#datetimepicker1').datepicker({
            	dateFormat: 'dd-mm-yy',
        		minDate: 1,
                daysOfWeekDisabled: [0,1,2,3,4,6],
                autoclose: true
            });

            $('#getEntries').click(function(){
                $("#preview").show();
            });
        </script>    
    </div>

    <div class="jumbotron" id="preview">
        <h4>Preview</h4>
        <div ng-repeat="x in entries">
            <h3>Deliverable {{$index+1}}</h3>
            <p>Week Of : {{entryWeek}}</p>
            <p>Project Name: {{$root.currentProject.team}}</p>
            <p>Delivery Name : {{x.noOfDeliverables}}</p>
            <p>Delivery Name : {{x.deliverableName}}</p>
            <p>Delivery Name : {{x.description}}</p>
            <p>Delivery Name : {{x.generalComments}}</p>
        </div>    

        <BUTTON class='btn btn-success gradient btn-sm' id='sendmail' ng-click="sendmail()">Send Mail</BUTTON>
    </div>
</div>